################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/InventoryManagement
/InventoryManagement.Core
/InventoryManagement.Infrastructure
/InventoryManagement.Services
