################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InventoryManagement/bin/Debug/net8.0/cs
/InventoryManagement.Infrastructure/bin/Debug/net8.0
/InventoryManagement.Infrastructure/obj/Debug/net8.0
/InventoryManagement/bin/Debug/net8.0/de
/InventoryManagement/bin/Debug/net8.0/es
/InventoryManagement/bin/Debug/net8.0/fr
/InventoryManagement/bin/Debug/net8.0/it
/InventoryManagement/bin/Debug/net8.0/ja
/InventoryManagement/bin/Debug/net8.0/ko
/InventoryManagement/bin/Debug/net8.0
/InventoryManagement/obj/Debug/net8.0
/InventoryManagement/obj
/InventoryManagement/InventoryManagement.csproj.user
/InventoryManagement.Core/bin/Debug/net8.0
/InventoryManagement.Core/obj/Debug/net8.0
/InventoryManagement.Services/bin/Debug/net8.0
/InventoryManagement.Services/obj/Debug/net8.0
/.vs/InventoryManagement
/InventoryManagement.Core/obj
/InventoryManagement.Infrastructure/obj
/InventoryManagement.Services/obj
/.vs/ProjectEvaluation/inventorymanagement.metadata.v9.bin
/.vs/ProjectEvaluation/inventorymanagement.projects.v9.bin
/.vs/ProjectEvaluation/inventorymanagement.strings.v9.bin
/.vs
/InventoryManagement/Properties/PublishProfiles
/InventoryManagement.Core/bin/Release/net8.0
/InventoryManagement.Infrastructure/bin/Release/net8.0
/InventoryManagement.Services/bin/Release/net8.0
/InventoryManagement/bin/Release/net8.0
/InventoryManagement.Test/bin/Debug/net8.0
/InventoryManagement.Test/obj/Debug/net8.0
